
.icon-cog:before { content: '\e800'; } /* '' */
.icon-trash:before { content: '\e801'; } /* '' */
.icon-info:before { content: '\e802'; } /* '' */
.icon-back:before { content: '\e803'; } /* '' */