.DS_Store
*~
*.o
*.so
*.pyc
*.swp
*.tar.xz
/mod-env
host/modd/modd
host/modd/tests/test_effects
host/modman/modman
host/modman/tests/modman_client
host/dados/plugins
host/old/mod
host/old/dados/*
*.crf
*.axf
*.hex
*.d
*.plg
*.tra
*.htm
*.__i
*.bak
*.uvgui.*
*.dep
dados/
mod-python/
.DS_Store
*/.DS_Store
"Icon\r"
keys/device_key.pem
keys/device_key.pub
keys/model
keys/serial
phantomjs-*
html/pedalboards/*.png
modui-env/
build/
dist/
*.orig
*node_modules/