.DS_Store
.kdev_include_paths
package-lock.json
*~
*.dll
*.o
*.so
*.pyc
*.swp
*.tar.xz
mod-env/
.env/
host/
*.crf
*.axf
*.hex
*.d
*.plg
*.tra
*.htm
*.__i
*.bak
*.uvgui.*
*.dep
data/
mod-python/
"Icon\r"
keys/device_key.pem
keys/device_key.pub
keys/model
keys/serial
html/pedalboards/*.png
modui-env/
build/
dist/
utils/test
*.orig
*node_modules/
.idea
*.egg-info
