Pillow>=8.2.0
pyserial==3.0
tornado==4.3
pycryptodomex==3.18.0
aggdraw==1.3.11

# for making old tornado python3.10 compatible:
# sed -i -e 's/collections.MutableMapping/collections.abc.MutableMapping/' modui-env/lib/python3.10/site-packages/tornado/httputil.py
