/* = CONTAINER
================================================ */
.mod-pedal-lata {
    background-position:center center;
    background-repeat:no-repeat;
    height:516px;
    position:absolute;
    width:398px;
}

/* = BACKGROUND IMAGES - Colour of the pedal
================================================ */
.mod-pedal-lata.mod-blue        { background-image:url(blue.png); }
.mod-pedal-lata.mod-brown       { background-image:url(brown.png); }
.mod-pedal-lata.mod-cream       { background-image:url(cream.png); }
.mod-pedal-lata.mod-darkblue    { background-image:url(darkblue.png); }
.mod-pedal-lata.mod-gray        { background-image:url(gray.png); }
.mod-pedal-lata.mod-green       { background-image:url(green.png); }
.mod-pedal-lata.mod-orange      { background-image:url(orange.png); }
.mod-pedal-lata.mod-purple      { background-image:url(purple.png); }
.mod-pedal-lata.mod-red         { background-image:url(red.png); }
.mod-pedal-lata.mod-white       { background-image:url(white.png); }
.mod-pedal-lata.mod-yellow      { background-image:url(yellow.png); }

/* = PLUGIN'S AUTHOR
================================================ */
.mod-pedal-lata .mod-plugin-author {
    left:30px;
    position:absolute;
    right:30px;
    text-align:center;
    text-transform:uppercase;
    top:290px;
}

.mod-pedal-lata .mod-plugin-author h1 {
    color:#111;
    font-family:"Nexa";
    font-size:32px;
}

/* = PLUGIN'S NAME
================================================ */
.mod-pedal-lata .mod-plugin-name {
    left:30px;
    overflow:hidden;
    position:absolute;
    right:30px;
    text-align:center;
    top:330px;
}

.mod-pedal-lata .mod-plugin-name h1 {
    font-family:"Questrial";
    font-size:24px;
    line-height:1;
}

.mod-pedal-lata.mod-blue .mod-plugin-name h1 {
    color:rgb(47,73,103);
}

.mod-pedal-lata.mod-brown .mod-plugin-name h1 {
    color:rgba(255,255,255,.85);
}

.mod-pedal-lata.mod-cream .mod-plugin-name h1 {
    color:rgb(102,98,81);
}

.mod-pedal-lata.mod-darkblue .mod-plugin-name h1 {
    color:rgba(255,255,255,.85);
}

.mod-pedal-lata.mod-gray .mod-plugin-name h1 {
    color:rgba(255,255,255,.85);
}

.mod-pedal-lata.mod-green .mod-plugin-name h1 {
    color:rgb(39,65,26);
}

.mod-pedal-lata.mod-orange .mod-plugin-name h1 {
    color:rgb(162,79,21);
}

.mod-pedal-lata.mod-purple .mod-plugin-name h1 {
    color:rgba(255,255,255,.85);
}

.mod-pedal-lata.mod-red .mod-plugin-name h1 {
    color:rgb(85,14,14);
}

.mod-pedal-lata.mod-white .mod-plugin-name h1 {
    color:rgb(42,42,42);
}

.mod-pedal-lata.mod-yellow .mod-plugin-name h1 {
    color:rgb(118,95,25);
}

/* = LIGHT ON/OFF
================================================ */
.mod-pedal-lata .mod-light {
    height:32px;
    left:0;
    margin:0 auto;
    position:absolute;
    right:0;
    top:250px;
    width:32px;
}

/* = FOOTSWITCH
================================================ */
.mod-pedal-lata .mod-footswitch {
    background-image:url(footswitch.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size:auto 80px;
    bottom:26px;
    cursor:pointer;
    height:155px;
    left:13px;
    position:absolute;
    right:13px;
    z-index:30;
}

/* = INPUTS/OUTPUTS
================================================ */
.mod-pedal-lata .mod-pedal-input,
.mod-pedal-lata .mod-pedal-output {
    top:136px;
}