html, body {
    height:100%;
    overflow: hidden;
}

body {
    background:#393939;
    min-width:1024px;
}

* {
    font-family: "cooper hewitt", Sans-serif !important;
}
#wrapper {
    bottom:0;
    left:0;
    min-width:980px;
    overflow:auto;
    position:absolute;
    right:0;
    top:0;
}

/* = NOTIFICATIONS
================================================ */
#notifications {
    position:absolute;
    top:0;
    width:100%;
    z-index:100000;
}

#notifications > section {
    border-radius:0;
}

#notifications .progressbar {
    border:1px solid rgba(0,0,0,0.3);
    height:18px;
    overflow:hidden;
    position:absolute;
    right:40px;
    top:10px;
    width:250px;
}

#notifications .progressbar .progressbar-value {
    background-color:rgba(0,0,0,0.3);
    height:90%;
    margin:1px;
}

/* = MAIN MENU (FOOTER)
================================================ */
#main-menu {
    background:#111;
    bottom:0;
    color:#fff;
    height:45px;
    left:0;
    position:absolute;
    right:0;
    z-index:10;
}

#main-menu > div {
    cursor:pointer;
    float:left;
}

#main-menu > div.icon {
    border-right:1px solid #2b2b2b;
    height:45px;
    width:45px;
}

#main-menu > div.icon > img {
    margin:5px 0 0 6px;
}

#main-menu > div.icon.selected {
    background:#000;
}

#main-menu > div.icon > a {
    display:block;
    height:45px;
    width:45px;
}

/* MOD - The Social Cloud */
#main-menu #mod-social {
    background-image:url(../img/menu-icons-sprite.png);
    background-position:0 bottom;
    background-repeat:no-repeat;
}
#main-menu #mod-social:hover,
#main-menu #mod-social.selected {
    background-color:#000;
    background-position:0 top;
}

/* Effects */
#main-menu #mod-plugins {
    background-image:url(../img/menu-icons-sprite.png);
    background-position:-45px bottom;
    background-repeat:no-repeat;
}
#main-menu #mod-plugins:hover,
#main-menu #mod-plugins.selected {
    background-color:#000;
    background-position:-45px top;
}

#main-menu #mod-cloud-plugins {
    background-image:url(../img/menu-icons-sprite.png);
    background-position:-315px bottom;
    background-repeat:no-repeat;
}
#main-menu #mod-cloud-plugins:hover,
#main-menu #mod-cloud-plugins.selected {
    background-color:#000;
    background-position:-315px top;
}

/* Pedalboards */
#main-menu #mod-pedalboard {
    background-image:url(../img/menu-icons-sprite.png);
    background-position:-90px bottom;
    background-repeat:no-repeat;
}
#main-menu #mod-pedalboard:hover,
#main-menu #mod-pedalboard.selected {
    background-color:#000;
    background-position:-90px top;
}

/* Banks */
#main-menu #mod-bank {
    background-image:url(../img/menu-icons-sprite.png);
    background-position:-135px bottom;
    background-repeat:no-repeat;
}
#main-menu #mod-bank:hover,
#main-menu #mod-bank.selected {
    background-color:#000;
    background-position:-135px top;
}

#main-menu #banks-saving {
    margin: 21px 0 0 6px;
    font-size: 10px;
    color: #666;
    display: none;
}

/* MOD - Settings */
#main-menu #mod-update {
    background-image:url(../img/menu-icons-sprite.png);
    background-position:-180px bottom;
    background-repeat:no-repeat;
    border-color:#2b2b2b;
    border-style:solid;
    border-width:0 0 0 1px;
    float:right;
}
#main-menu #mod-update.uptodate {
    background-color:#000;
    background-position:-180px top;
}

/* MOD - CPU */
#main-menu #mod-cpu, #main-menu #mod-ram {
    border-color:#2b2b2b;
    border-style:solid;
    border-width:0 0 0 1px;
    color:rgb(47,47,47);
    float:right;
    font-size:11px;
    font-weight:bold;
    line-height:4.5;
    cursor: default;
    text-align:center;
    text-transform:uppercase;
    width:100px;
}
#main-menu #mod-cpu .progress, #main-menu #mod-ram .progress{
    height: 45px;
    margin-bottom: 0;
    overflow: hidden;
background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(left, #1e5799 0%, #2989d8 69%, #ff6430 78%, #ff6430 93%, #c40000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1e5799), color-stop(69%,#2989d8), color-stop(78%,#ff6430), color-stop(93%,#ff6430), color-stop(100%,#c40000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #1e5799 0%,#2989d8 69%,#ff6430 78%,#ff6430 93%,#c40000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #1e5799 0%,#2989d8 69%,#ff6430 78%,#ff6430 93%,#c40000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #1e5799 0%,#2989d8 69%,#ff6430 78%,#ff6430 93%,#c40000 100%); /* IE10+ */
background: linear-gradient(to right, #1e5799 0%,#2989d8 69%,#ff6430 78%,#ff6430 93%,#c40000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#c40000',GradientType=1 ); /* IE6-9 */    -we
    -moz-border-radius: 4px;
    border-radius: 0 !important;
}
    #main-menu #mod-cpu .progress .bar, #main-menu #mod-ram .progress .bar{
        float: right;
        background: #222 !important
    }

#main-menu #mod-cpu .progress-title, #main-menu #mod-ram .progress-title{
    position: absolute;
    top: 0;
    height: 45px;
    margin: 0;
    margin-left: 1em;
    color: white;
}
/* MOD - Bluetooth */
#main-menu #mod-status {
    background-image:url(../img/menu-icons-sprite.png);
    background-position:-225px bottom;
    background-repeat:no-repeat;
    border-color:#2b2b2b;
    border-style:solid;
    border-width:0 0 0 1px;
    float:right;
}
#main-menu #mod-status.online {
    background-color:#000;
    background-position:-225px top;
}

/* MOD - Cloud */
#main-menu #mod-cloud {
    background-image:url(../img/menu-icons-sprite.png);
    background-position:-270px bottom;
    background-repeat:no-repeat;
    border-color:#2b2b2b;
    border-style:solid;
    border-width:0 0 0 1px;
    float:right;
}

#main-menu #mod-cloud.logged,
#main-menu #mod-cloud.online {
    background-color:#000;
    background-position:-270px top;
}

.tooltip {
    background:white;
    border-radius:3px;
    bottom:50px;
    height:auto;
    padding:7px;
    position:absolute;
}

.tooltip .text {
    color:#222222;
    font-weight:bold;
    line-height:1;
    text-align:center;
}

.tooltip .arrow {
    border-bottom:9px solid transparent;
    border-left:9px solid transparent;
    border-right:9px solid transparent;
    border-top:9px solid white;
    height:0;
    position:absolute;
    bottom:-18px;
    right:14px;
    width:0;
}



/* = MOD UPGRADE SYSTEM
================================================ */
#mod-upgrade {
    background:white;
    border-radius:9px;
    color:black;
    font-size:12px;
    max-height:350px;
    max-width:450px;
    min-width:350px;
    overflow:auto;
    position:absolute;
    right:10px;
    bottom:50px;
    z-index:100;
}

#mod-upgrade .progressbar-wrapper {
    border: 1px solid #444444;
    border-radius: 3px;
    height: 20px;
    width: 330px;
}

#mod-upgrade .progressbar {
    background-color: #8888ff;
    height: 20px;
}


/* = PLUGINS LIBRARY
================================================ */
#plugins-library {
    bottom:56px;
    height:166px;
    left:0;
    position:absolute;
    right:0;
    transition: all 0.25s;
}

/* Fold/Unfold */
#plugins-library.folded {
    height:26px;
}
#plugins-library .fold,
#plugins-library .folded {
    cursor:pointer;
    display:block;
    float:right;
    height:36px;
    position:absolute;
    top:0;
    right:0;
    width:36px;
}
#plugins-library .fold {
    background-color:#000;
    background-image:url(../img/icons/pinned.png);
    background-position:center center;
    background-repeat:no-repeat;
    display:block !important;
}
/*
#plugins-library.folded .fold {
    background-color:#000;
    background-image:url(../img/nav-top.png);
    background-position:center center;
    background-repeat:no-repeat;
    display:block !important;
}
*/
#plugins-library.auto .fold {
    background-image:url(../img/icons/autohide.png);
}

/* Effects Filter Settings */
#plugins-library .settings {
    background-color:black;
    background-image:url(../img/icn-search-white.png);
    background-position:center center;
    background-repeat:no-repeat;
    cursor:pointer;
    display:block;
    height:36px;
    position:absolute;
    right:37px;
    top:0;
    width:36px;
}
#plugins-library #plugins-library-settings-window {
    background:#000;
    bottom:167px;
    color:#fff;
    position:absolute;
    right:0;
}
#plugins-library.folded #plugins-library-settings-window {
    bottom:27px;
}
#plugins-library #plugins-library-settings-window h1 {
    font-size:14px;
    font-weight:bold;
    line-height:1;
    margin:0 0 10px;
    padding:0;
    text-transform:uppercase;
}
#plugins-library #plugins-library-settings-window form {
    margin-bottom:0;
}
#plugins-library #plugins-library-settings-window label {
    margin-right:10px;
}
#plugins-library #plugins-library-settings-window label.checkbox:last-child {
    margin-right:0;
}
#plugins-library #plugins-library-settings-window .control-group {
    position:relative;
}
#plugins-library #plugins-library-settings-window .input-clean {
    background:#333;
    border-radius:12px;
    color:#fff;
    cursor:pointer;
    font-size:8px;
    height:18px;
    left:auto !important;
    position:absolute;
    right:13px !important;
    text-align:center;
    text-transform:uppercase;
    top:31px !important;
    width:18px;
}

/* Effects Categories */
#plugins-library ul {
    height:26px;
    list-style:none;
    margin:0 73px 0 0;
    overflow:hidden;
    padding:10px 0 0 0;
    position:relative;
    width:100%;
}
#plugins-library ul li {
    background:#1b1b1b;
    color:#fff;
    cursor:pointer;
    display:inline-block;
    float:left;
    font-size:11px;
    margin:0 1px 0 0;
    padding:3px 11px;
    text-shadow:1px 1px 0 #000;
    text-transform:uppercase;
}
#plugins-library ul li.selected {
    background:#000;
    border-radius:4px 4px 0 0;
    font-weight:bold;
    margin-top:-6px;
    padding:6px 11px;
}

/* Effects List */
#plugins-library #plugins-list {
    background: rgba(0, 0, 0, 0.66);
    height:140px;
    overflow:hidden;
    position:relative;
    width:100%;
}
#plugins-library #plugins-list .nav {
    background: rgba(0, 0, 0, 1) url(../img/nav-left.png) 50% 50% no-repeat;
    cursor:pointer;
    position:absolute;
    top: 0;
    width: 50px;
    height: 100%;
    opacity: 0.66;
}
#plugins-library #plugins-list .nav:hover {
    opacity: 1;
}
#plugins-library #plugins-list .nav-left {
    left: 0;
}
#plugins-library #plugins-list .nav-right {
    background: rgba(0, 0, 0, 1) url(../img/nav-right.png) 50% 50% no-repeat;
    right: 0;
}

#plugins-library #plugins-list #plugins-results {
    bottom:0;
    left:50px;
    position:absolute;
    overflow:hidden;
    right:50px;
    top:0;
}

#plugins-library #plugins-list .plugins-wrapper {
    position:relative;
}
#plugins-library #plugins-list .plugins-wrapper .plugin {
    color:#fff;
    float:left;
    font-size:11px;
    font-weight:bold;
    height:108px;
    padding:14px 12px 10px;
    position:relative;
    text-align:center;
}
/* Effect Thumbnail and Status*/
#plugins-library #plugins-list .plugins-wrapper .plugin .thumb {
    height:67px;
    position:relative;
}
#plugins-library #plugins-list .plugins-wrapper .plugin .thumb img {
    height:auto;
    margin:0 auto 3px;
    width:auto;
}
#plugins-library #plugins-list .plugins-wrapper .plugin .status {
    display:block;
    height:16px;
    margin:0 auto;
    width:16px;
}
#plugins-library #plugins-list .plugins-wrapper .plugin .status.installed {
    background-image:url(../img/icn-installed.png);
    background-position:center center;
    background-repeat:no-repeat;
}
#plugins-library #plugins-list .plugins-wrapper .plugin .status.outdated {
    background-image:url(../img/icn-outdated.png);
    background-position:center center;
    background-repeat:no-repeat;
}
#plugins-library #plugins-list .plugins-wrapper .plugin .status.blocked {
    background-image:url(../img/icn-blocked.png);
    background-position:center center;
    background-repeat:no-repeat;
}
/* Effect Author */
#plugins-library #plugins-list .plugins-wrapper .plugin .author {
    display:block;
    line-height:1.5;
}
/* Effect Title */
#plugins-library #plugins-list .plugins-wrapper .plugin .title {
    display:block;
    line-height:1.25;
}
/* Effect Rating */
#plugins-library #plugins-list .plugins-wrapper .plugin .rating {
    background-image:url(../img/icn-rating.png);
    background-position:center top;
    background-repeat:no-repeat;
    display:block;
    height:16px;
    width:132px;
}

#plugins-library #plugins-list .plugins-wrapper .plugin .rating.one {
    background-position:center -15px;
}
#plugins-library #plugins-list .plugins-wrapper .plugin .rating.two {
    background-position:center -30px;
}
#plugins-library #plugins-list .plugins-wrapper .plugin .rating.three {
    background-position:center -45px;
}
#plugins-library #plugins-list .plugins-wrapper .plugin .rating.four {
    background-position:center -60px;
}
#plugins-library #plugins-list .plugins-wrapper .plugin .rating.five {
    background-position:center -75px;
}
/* Effect's Downloads Status */
#plugins-library #plugins-list .plugins-wrapper .plugin .downloads {
    display:block;
}

/* = PLUGIN INFO
================================================ */
.plugin-info {
    background-color:rgba(20,20,20,.9);
    bottom:0;
    color:#ccc;
    left:0;
    overflow-y:scroll;
    position:fixed;
    right:0;
    top:0px;
    z-index:40;
}

.plugin-info .box {
    background-color:#000;
    border-radius:18px;
    margin:27px auto;
    width:90%;
}

.plugin-info .close {
    color:#fff;
    font-size:12px;
    font-weight:bold;
    opacity:1;
    position:absolute;
    right:10px;
    text-shadow:none;
    text-transform:uppercase;
    top:10px;
}

.plugin-info .screenshot {
    padding:18px 0 0;
}

.plugin-info header {
    padding:18px 0 0;
}

.plugin-info header h1 {
    color:#fff;
    font-size:21px;
    line-height:1;
    margin:0;
    padding:0;
}

.plugin-info header h1 span {
    font-size:16px;
    line-height:1;
    margin:0;
    padding:0;
}

.plugin-info .version {
    color:#ccc;
    font-size:12px;
    font-weight:bold;
    text-transform:uppercase;
}

.plugin-info .version span.bold {
    color:#fff;
    font-size:14px;
}

.plugin-info .version button {
    font-weight:bold;
    margin-top:6px;
    text-transform:uppercase;
}

.plugin-info .rating {
    background:url(../img/icn-rating.png) no-repeat -12px top;
    display:inline-block;
    height:14px;
    width:84px;
}
.plugin-info .rating-label {
    color:#fff;
    font-size:12px;
    font-weight:bold;
    text-transform:uppercase;
}
.plugin-info .rating.one {
    background:url(../img/icn-rating.png) no-repeat -12px -15px;
}
.plugin-info .rating.two {
    background:url(../img/icn-rating.png) no-repeat -12px -30px;
}
.plugin-info .rating.three {
    background:url(../img/icn-rating.png) no-repeat -12px -45px;
}
.plugin-info .rating.four {
    background:url(../img/icn-rating.png) no-repeat -12px -60px;
}
.plugin-info .rating.five {
    background:url(../img/icn-rating.png) no-repeat -12px -75px;
}
.plugin-info .my-rate {
    width: 15px;
    height: 15px;
    margin: 0;
    padding: 0;
    float: left;
    cursor: pointer;
}

.plugin-info .plugin-specs {
    text-align:center;
    width:100%;
}

.plugin-info .plugin-specs th {
    background:#333;
    color:#fff;
}
.plugin-info .plugin-specs th:first-child{
    border-radius:4px 0 0 0;
}

.plugin-info .plugin-specs th:last-child{
    border-radius:0 4px 0 0;
}
.plugin-info .plugin-specs {
    border-color:#333;
}
.plugin-info .plugin-specs th,
.plugin-info .plugin-specs td {
    border-color:#333;
}

.plugin-info .comments-reviews {
    border-top:1px solid #333;
    margin-top:10px;
    padding-top:10px;
}
.plugin-info .comments-reviews h1 {
    color:#fff;
    font-size:21px;
    line-height:2;
    margin:0;
    padding:0;
}

.plugin-info .reviews {
    border-bottom:1px solid #333;
    margin:9px 0 18px 0;
    padding:9px 0 18px 0;
}

.plugin-info article.review {
    margin:18px 0;
}

.plugin-info article.review h1 {
    color:#fff;
    font-size:14px;
}

.plugin-info article.review h1 .rating {
    margin-left:6px;
}

.plugin-info article.review h1 .rating-label {
    color:#ccc;
    display:inline;
    font-size:12px;
    font-weight:normal;
    margin-left:6px;
}

.plugin-info article.review .bar {
    background:#333;
    display:block;
    height:12px;
    margin:2px 6px 0;
    position:relative;
    width:100px;
}

.plugin-info article.review .progress-bar {
    background:#444;
    bottom:0;
    display:block;
    height:10px;
    left:0;
    margin:1px;
    position:absolute;
    right:0;
    top:0;
    width:50%;
}

.plugin-info article.review .rating-number {
    display:block;
    font-size:12px;
    margin-top:-1px;
}

.plugin-info .comments {
    margin:18px 0;
    padding:18px 0;
}

.plugin-info .comments button {
    margin-top:18px;
}

.plugin-info article.comment {
    border-top:1px solid #333;
    margin:18px 0 0;
    padding:18px 0 0;
}

.plugin-info article.comment h1 {
    color:#fff;
    font-size:16px;
    line-height:1;
}

.plugin-info article.comment h1 .date {
    color:#ccc;
    font-size:12px;
    font-weight:normal;
    margin-left:6px;
}

.plugin-info form.comment-form {
    border-top:1px solid #333;
    margin:18px 0;
    padding:18px 0;
}

.plugin-info form.comment-form label {
    font-size:12px;
    font-weight:bold;
    text-transform:uppercase;
}

.plugin-info form.comment-form textarea {
    height:180px;
}

/* = CLOUD PLUGINS LIBRARY
================================================ */
#cloud-plugins-library {
    background:#000;
    bottom:46px;
    left:0;
    overflow:auto;
    position:absolute;
    right:0;
    top:68px;
    z-index:2;
}
#cloud-plugins-library h1 {
    color:#fff;
    display:inline-block;
    font-size:24px;
    margin:0 0 18px 0;
    padding:0;
}
#cloud-plugins-library header {
    background-image:url(../img/header-pattern.png);
    background-position:bottom center;
    background-repeat:no-repeat;
    display:block;
    left:0;
    padding:10px 10px 18px 10px;
    position:fixed;
    right:0;
    top:0;
    z-index:2;
}
#cloud-plugins-library header .help {
    background-image:url(../img/icn-help-16x16.png);
    background-position:center center;
    background-repeat:no-repeat;
    display:inline-block;
    height:21px;
    width:21px;
}
#cloud-plugins-library header .close {
    opacity:1;
    position:absolute;
    right:10px;
    top:16px;
}
#cloud-plugins-library .filter {
    border-color:#111;
    border-style:dotted;
    border-width:0 1px 0 0;
    bottom:46px;
    left:10px;
    padding-top:18px;
    position:fixed;
    right:0;
    top:68px;
    width:240px;
    overflow: hidden;
}
#cloud-plugins-library .filter .control-group {
    float:left;
    margin-right:9px;
}
#cloud-plugins-library .filter .control-group label {
    color:#fff;
    display:inline-block;
    font-size:12px;
    font-weight:bold;
}

#cloud-plugins-library .filter .control-group select {
    width:50px;
}
#cloud-plugins-library .cloud-plugins {
    left:252px;
    position:absolute;
    right:10px;
}

#cloud-plugins-library .categories {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

#cloud-plugins-library .categories li {
    display: block;
    background: #222;
    color: #888;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    margin: 0 0 1px 0;
    padding: 10px 5px;
    position: relative;
}
#cloud-plugins-library .categories li.selected {
    background: transparent;
}

#cloud-plugins-library .categories li:hover {
    background: #333;
}

#cloud-plugins-library .cloud-plugins .cloud-plugin {
    color:#fff;
    float:left;
    padding: 10px 10px 10px 10px;
    width:140px;
    height: 120px;
    text-align: center;
}
#cloud-plugins-library .cloud-plugins .cloud-plugin:hover {
    background-color: #212121;
    cursor: pointer;
}

#cloud-plugins-library .cloud-plugins .cloud-plugin .thumb {
    height: 60%;
}

#cloud-plugins-library .cloud-plugins .cloud-plugin .img {
    background:#2b2b2b;
    border-radius:4px;
    display:block;
    height:154px;
    margin-bottom:9px;
    width:100%;
    height: 80px;
    overflow: hidden;
}
#cloud-plugins-library .cloud-plugins .cloud-plugin .img img {
    cursor:pointer;
    height:auto;
    width:100%;
}
#cloud-plugins-library .cloud-plugins .cloud-plugin .title {
    display:block;
    height:18px;
    font-weight:bold;
    overflow:hidden;
    position:relative;
}
#cloud-plugins-library .cloud-plugins .cloud-plugin .status {
    display:block;
    height:16px;
    margin:0 auto;
    width:16px;
}
#cloud-plugins-library .cloud-plugins .cloud-plugin .status.installed {
    background-image:url(../img/icn-installed.png);
    background-position:center center;
    background-repeat:no-repeat;
}
#cloud-plugins-library .cloud-plugins .cloud-plugin .status.outdated {
    background-image:url(../img/icn-outdated.png);
    background-position:center center;
    background-repeat:no-repeat;
}
#cloud-plugins-library .cloud-plugins .cloud-plugin .status.blocked {
    background-image:url(../img/icn-blocked.png);
    background-position:center center;
    background-repeat:no-repeat;
}
#cloud-plugins-library .cloud-plugins .cloud-plugin .description {
    display:block;
    font-size:12px;
    height:52px;
    line-height:1.5;
    overflow:hidden;
}
#cloud-plugins-library .cloud-plugins .cloud-plugin .actions {
    font-size:11px;
    font-weight:bold;
    text-transform:uppercase;
}

#cloud-plugins-library .cloud-plugins .cloud-plugin .actions > span {
    cursor:pointer;
}

#cloud-plugins-library .cloud-plugins .cloud-plugin .actions > span:hover {
    text-decoration:underline;
}

#cloud-plugins-library .cloud-plugins .cloud-plugin .actions span.duplicate {
    margin:0 6px;
}


/* = PEDALBOARDS LIBRARY
================================================ */
#pedalboards-library {
    background:#000;
    bottom:46px;
    left:0;
    overflow:auto;
    position:absolute;
    right:0;
    top:68px;
    z-index:2;
}
#pedalboards-library h1 {
    color:#fff;
    display:inline-block;
    font-size:24px;
    margin:0 0 18px 0;
    padding:0;
}
#pedalboards-library header {
    background-image:url(../img/header-pattern.png);
    background-position:bottom center;
    background-repeat:no-repeat;
    display:block;
    left:0;
    padding:10px 10px 18px 10px;
    position:fixed;
    right:0;
    top:0;
    z-index:2;
}
#pedalboards-library header .help {
    background-image:url(../img/icn-help-16x16.png);
    background-position:center center;
    background-repeat:no-repeat;
    display:inline-block;
    height:21px;
    width:21px;
}
#pedalboards-library header .close {
    opacity:1;
    position:absolute;
    right:10px;
    top:16px;
}
#pedalboards-library .filter {
    border-color:#111;
    border-style:dotted;
    border-width:0 1px 0 0;
    bottom:46px;
    left:10px;
    padding-top:18px;
    position:fixed;
    right:0;
    top:68px;
    width:240px;
}
#pedalboards-library .filter .control-group {
    float:left;
    margin-right:9px;
}
#pedalboards-library .filter .control-group label {
    color:#fff;
    display:inline-block;
    font-size:12px;
    font-weight:bold;
    width:165px;
}
#pedalboards-library .filter .control-group select {
    width:50px;
}
#pedalboards-library .pedalboards {
    left:252px;
    position:absolute;
    right:10px;
}
#pedalboards-library .pedalboards .pedalboard {
    color:#fff;
    float:left;
    margin:0 0 20px 16px;
    width:31%;
}
#pedalboards-library .pedalboards .pedalboard .img {
    background:#2b2b2b;
    border-radius:4px;
    display:block;
    height:154px;
    margin-bottom:9px;
    width:100%;
    overflow: hidden;
}
#pedalboards-library .pedalboards .pedalboard .img img {
    cursor:pointer;
    height:auto;
    width:100%;
}
#pedalboards-library .pedalboards .pedalboard .title {
    display:block;
    height:18px;
    font-weight:bold;
    overflow:hidden;
    position:relative;
}
#pedalboards-library .pedalboards .pedalboard .description {
    display:block;
    font-size:12px;
    height:36px;
    line-height:1.5;
    overflow:hidden;
}
#pedalboards-library .pedalboards .pedalboard .actions {
    font-size:11px;
    font-weight:bold;
    text-transform:uppercase;
}

#pedalboards-library .pedalboards .pedalboard .actions > span {
    cursor:pointer;
}

#pedalboards-library .pedalboards .pedalboard .actions > span:hover {
    text-decoration:underline;
}

#pedalboards-library .pedalboards .pedalboard .actions span.duplicate {
    margin:0 6px;
}

/* Bank Library */
#bank-library {
    background:#000;
    bottom:46px;
    left:0;
    overflow:auto;
    position:absolute;
    right:0;
    top:0;
    z-index:2;
}
#bank-library h1 {
    color:#fff;
    display:inline-block;
    font-size:24px;
    margin:0 0 18px 0;
    padding:0;
}
#bank-library header {
    background-image:url(../img/header-pattern.png);
    background-position:bottom center;
    background-repeat:no-repeat;
    display:block;
    left:0;
    padding:10px 10px 18px 10px;
    position:fixed;
    right:0;
    top:0;
    z-index:2;
}
#bank-library header .help {
    background-image:url(../img/icn-help-16x16.png);
    background-position:center center;
    background-repeat:no-repeat;
    display:inline-block;
    height:21px;
    width:21px;
}
#bank-library header .close {
    opacity:1;
    position:absolute;
    right:10px;
    top:16px;
}

/* Banks List */
#bank-list {
    bottom:0;
    left:0;
    list-style:none;
    margin:0;
    padding:0;
    position:absolute;
    top:68px;
    width:20%;
}
#bank-list div {
    background:#222;
    color:#888;
    cursor:pointer;
    font-size:12px;
    font-weight:bold;
    height:20px;
    margin:0 0 1px 0;
    padding:10px 5px;
    position:relative;
}
#bank-list div.selected {
    background:#333;
    color:#fff;
}

/* Bank List - Add Bank */
#bank-list > div.add-bank {
    color:#fff;
    cursor:pointer;
    padding-left:35px;
}

/* Bank List - Move bank position */
#bank-list span.move {
    background-image:url(../img/move.png);
    background-position:left center;
    background-repeat:no-repeat;
    display:block;
    float:left;
    height:22px;
    left:0;
    margin:-1px 6px 0 0;
    position:absolute;
    width:24px;
}
#bank-list > div.selected span.move {
    background-position:right center;
}

/* Bank List - Remove bank */
#bank-list span.remove {
    background-image:url(../img/icn-remove-bank.png);
    background-position:left center;
    background-repeat:no-repeat;
    display:block;
    float:right;
    height:22px;
    margin:-1px 6px 0 0;
    position:absolute;
    right:0;
    width:24px;
}
#bank-list > div.selected span.remove {
    background-position:right center;
}

/* Bank List - Title */
#bank-list span.title  {
    height:22px;
    left:26px;
    overflow:hidden;
    position:absolute;
    right:26px;
}

/* Pedalboards in a bank */
#bank-pedalboards-mode {
    background:#333;
    left:30%;
    height:30px;
    margin:0;
    padding:20px 0 0 0;
    position:absolute;
    text-align:center;
    top:68px;
    width:45%;
}
#bank-title {
    background:#333;
    left:20%;
    height:75px;
    margin:0;
    padding:0;
    position:absolute;
    text-align:center;
    top:69px;
    width:45%;
}
#bank-addressings h2 {
    margin: 4px 0 0 14px;
    display: block;
    color: white;
    font-size: 12px;
    line-height: 20px;
    text-align: left;
}
#bank-addressings small {
    font-size: 10px;
    color: #BBBBBB;
    text-align: left;
    display: block;
    margin-left: 14px;
}
#bank-addressings select {
    display: block;
    float: left;
    height: 22px;
    margin: 5px 2.5%;
    width: 20%;
    font-size: 10px;
}
#bank-pedalboards {
    background:#333;
    bottom:46px;
    left:20%;
    list-style:none;
    margin:0;
    overflow:auto;
    padding:0 0 200px 0;
    position:fixed;
    top:144px;
    width:45%;
}
#bank-pedalboards > div {
    margin:10px 10px 0 10px;
    padding:10px 10px 0 10px;
}
#bank-pedalboards .pedalboard {
    border-top:1px dotted #111;
    color:#fff;
    cursor:move;
    padding-top:10px;
    width:100%;
}
#bank-pedalboards .pedalboard .info {
    margin-bottom:3px;
}
#bank-pedalboards .pedalboard .title {
    display:block;
    font-weight:bold;
    margin-bottom:3px;
    overflow:hidden;
    position:relative;
}
#bank-pedalboards .pedalboard .img {
    background:#2b2b2b;
    border-radius:4px;
    display:inline-block;
    float:left;
    height:auto;
    margin:0 9px 0 0;
    text-align:center;
    width:100%;
}

.pedalboard .addressings {
    width: 100%;
}

.pedalboard .addressings .footswitch {
    background: #2b2b2b url(../img/footswitch-free.png) no-repeat center top;
    float: left;
    height: 20px;
    width: 25%;
}
.pedalboard .addressings .footswitch.addressed {
    background: #2b2b2b url(../img/footswitch-addressed.png) no-repeat center top;
}

#bank-pedalboards .mode {
    border:none;
    margin:22px 0 18px 0;
    text-align:center;
}
#bank-pedalboards-mode .grid {
    background:url(../img/icn-grid-list.png) no-repeat left bottom;
    display:inline-block;
    height:14px;
    width:14px;
}
#bank-pedalboards-mode .grid.selected {
    background-position:left top;
}
#bank-pedalboards-mode .list {
    background:url(../img/icn-grid-list.png) no-repeat right bottom;
    display:inline-block;
    height:14px;
    width:14px;
}
#bank-pedalboards-mode .list.selected {
    background-position:right top;
}

/* Pedalboards search*/
#bank-pedalboards-search {
    bottom:46px;
    left:65%;
    overflow:auto;
    position:fixed;
    top:68px;
    width:35%;
}
#bank-pedalboards-search label {
    color:#fff;
    font-size:11px;
    font-weight:bold;
    text-transform:uppercase;
}
#bank-pedalboards-search .control-group {
    margin-bottom:10px;
    padding:0 2%;
    position:relative;
    width:29.3%;
}
#bank-pedalboards-search input[type="search"] {
    margin:auto 0;
    padding-left:0;
    padding-right:0;
    width:100%;
}
#bank-pedalboards-search select {
    width:100%;
}
#bank-pedalboards-search .input-clean {
    background:#333;
    border-radius:12px;
    color:#fff;
    cursor:pointer;
    font-size:8px;
    height:18px;
    left:auto !important;
    position:absolute;
    right:8px !important;
    text-align:center;
    text-transform:uppercase;
    top:31px !important;
    width:18px;
}

/* Pedalboards search results - pedalboard */
#bank-pedalboards-result .pedalboard {
    border-top:1px dotted #444;
    color:#fff;
    cursor:move;
    float:left;
    margin:10px 2.5% 0;
    padding:10px 0;
    width:95%;
}
#bank-pedalboards-result .pedalboard .img {
    background:#2b2b2b;
    display:block;
    height:auto;
    margin:0 auto;
    text-align:center;
    width:100%;
}
#bank-pedalboards-result .pedalboard .title {
    display:block;
    height:18px;
    font-size:12px;
    font-weight:bold;
    margin-bottom:10px;
    overflow:hidden;
    position:relative;
}
#bank-pedalboards-result .pedalboard .description {
    display:block;
    font-size:11px;
    height:27px;
    line-height:1.5;
    overflow:hidden;
}


/* = Clearfix
================================================ */
.clearfix:after, .container:after {
    content:"\0020";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
    overflow:hidden;
}
.clearfix, .container {
    display:block;
}
.clear {
    clear:both;
}

.box {
    padding:10px;
}

.alignleft {
    float:left;
}
.alignright {
    float:right;
}

.textcenter {
    text-align:center;
}
.textright  {
    text-align:right;
}

.bottom {
    margin-bottom:0 !important;
    padding-bottom:0 !important;
}
.left {
    margin-left:0 !important;
    padding-left:0 !important;
}
.right {
    margin-right:0 !important;
    padding-right:0 !important;
}
.top {
    margin-top:0 !important;
    padding-top:0 !important;
}

.nobullets {
    list-style:none;
}

.mod-hidden {
    display:none;
}

::selection {
    background:transparent;
}

.mod-box {
    background:white;
    border-radius:9px;
    left:50%;
    margin:-150px -168px;
    padding:18px;
    position:absolute;
    top:50%;
    width:300px;
}

.mod-box label {
    display:inline-block;
    float:left;
    line-height:2;
    width:96px;
}

.mod-box .mod-controls {
    float:left;
}

.mod-box input[type="text"],
.mod-box input[type="password"] {
    width:190px;
}


/* = NOTIFICATIONS
================================================ */
.screen-disconnected {
    background:rgba(0,0,0,.9);
    color:white;
    display:table;
    font-size:72px;
    height:100% !important;
    text-align:center;
    z-index:10;
}

.screen-disconnected p {
    display:table-cell;
    vertical-align:middle;
    line-height: 90px;
}

.plugin-wait {
    background:url(../img/loading-effect.gif) no-repeat center center;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
}

/* coisas que estão sendo reimplementadas */
.drag-handle {
    bottom:0;
    cursor:move;
    left:0;
    position:absolute;
    right:0;
    top:0;
    z-index:20;
}

.actions {
    z-index:20;
}


/* ANIMATIONS
===================================================*/
@keyframes flashlight {
    0%   { box-shadow: 0 0 0 transparent; }
    50%  { box-shadow: 0 0 10px white; }
    100% { box-shadow: 0 0 0 transparent; }
}
