#cloud-plugins-library {
  background: url(@wallpaper) repeat fixed;
  bottom: 46px;
  left: 0;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0px;
  z-index: 2;
  h1 {
    color: #fff;
    display: inline-block;
    font-size: 24px;
    margin: 0 0 18px 0;
    padding: 0;
  }
  header {
    background-image: url(../img/header-pattern.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    display: block;
    left: 0;
    padding: 10px 10px 18px 10px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
    .help {
      background-image: url(../img/icn-help-16x16.png);
      background-position: center center;
      background-repeat: no-repeat;
      display: inline-block;
      height: 21px;
      width: 21px;
    }
    .close {
      opacity: 1;
      position: absolute;
      right: 10px;
      top: 16px;
    }
  }
  .filter {
    border-color: #111;
    border-style: dotted;
    border-width: 0 1px 0 0;
    bottom: 46px;
    left: 10px;
    padding-top: 18px;
    position: fixed;
    top: 0;
    right: 0;
    width: 240px;
    overflow: auto;
      h1 {
        font-weight: 2em;
        text-transform: uppercase;
        font-weight: bold;
        margin: 0
      }
      h2 {
        color: white;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 1em;
      }
      .control-group {
        float: left;
        margin-right: 9px;
      }
      .control-group label {
        color: #fff;
        display: inline-block;
        font-size: 12px;
        font-weight: bold;
      }
      .control-group select {
        width: 50px;
      }
      .categories {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        li {
          display: block;
          background: #222;
          color: #888;
          cursor: pointer;
          font-size: 12px;
          font-weight: bold;
          margin: 0 0 1px 0;
          padding: 5px 5px;
          position: relative;
          span {
            float: right
          }
        }
        li.selected {
          background: transparent;
        }
        li:hover {
          background: #333;
        }
      }
    }
  }
  .cloud-plugins {
    left: 252px;    
    position: absolute;
    right: 10px;
    .plugins-wrapper {
    	width: 100%;
    }
    .cloud-plugin {
      color: #fff;
      background-color: #111;
      .make-xs-column(12);
      .make-sm-column(6);
      .make-md-column(6);
      .make-lg-column(4);
      padding: 15px;
      &:hover {
        background-color: #212121;
        cursor: pointer;
        .description {
          .see_more {         
            @gradient4: #212121;
            @gradient3: fade(@gradient4, 0%);
            background: -moz-linear-gradient(top, @gradient3 0%, @gradient4 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@gradient3), color-stop(100%,@gradient4)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, @gradient3 0%,@gradient4 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, @gradient3 0%,@gradient4 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, @gradient3 0%,@gradient4 100%); /* IE10+ */
            background: linear-gradient(to bottom, @gradient3 0%,@gradient4 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00222222', endColorstr='#222222',GradientType=0 ); /* IE6-9 */
          }
        }
      }
      figure {
        .make-sm-column(4);
        img {
          max-height: 366px;
          width: 100%;
          background-size: contain !important;
          margin-bottom: 10px;
        }
      }
      .description {
        .no_description {
          color: #444;
        }
        display: block;
        line-height: 1.5;
        overflow: hidden;
        height: 99px;
        overflow: hidden;        
        .see_more {
          position: absolute;
          width: 100%;
          height: 18px;
          bottom: 0;
          margin-bottom: 32px;
          z-index: 10;
          @gradient1: rgba(17,17,17,0);
          @gradient2: rgba(17,17,17,1);        
          background: -moz-linear-gradient(top, @gradient1 0%, @gradient2 100%); /* FF3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@gradient1), color-stop(100%,@gradient2)); /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top, @gradient1 0%,@gradient2 100%); /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top, @gradient1 0%,@gradient2 100%); /* Opera 11.10+ */
          background: -ms-linear-gradient(top, @gradient1 0%,@gradient2 100%); /* IE10+ */
          background: linear-gradient(to bottom, @gradient1 0%,@gradient2 100%); /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00222222', endColorstr='#222222',GradientType=0 ); /* IE6-9 */
        }
         .title {
           display: block;
           height: 18px;
           text-transform: uppercase;
           font-weight: bold;
           overflow: hidden;
           position: relative;
         }
      }
      .status {
         display: inline-block;
         padding: 1px 4px;
         margin-top: 10px;
         text-align: center;
         border-radius: 2px;
         text-transform: uppercase;
         font-weight: bold;
         font-size: 9px;
       }
       .status.installed {
         background-color: @brand-success;
         &:after {
           content: "installed";
         }
       }
       .status.outdated {
         background-color: @brand-warning;
         &:after {
           content: "new version";
         }
       }
       .status.blocked {
         border: 1px solid @brand-warning;
         color: @brand-warning;
         &:after {
           content: "not installed";
         }
       }

      .actions {
        font-size: 11px;
        font-weight: bold;
        text-transform: uppercase;
      }
       .actions > span {
        cursor: pointer;
      }
       .actions > span:hover {
        text-decoration: underline;
      }
       .actions span.duplicate {
        margin: 0 6px;
      }
  }
}