#tone3000-library {
    background: #2c2c2c url(../img/watermark.png) 100% 100% no-repeat;
    top: 0;
    bottom: 46px;
    left: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    z-index: 2;
}
#tone3000-wrapper {
    position: absolute;
    top: 45px;
    bottom: 46px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ccc;
}
#tone3000-logo {
    width: 96px;
    height: 96px;
}
#tone3000-wrapper h2 {
    color: #fff;
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;
    margin: .8em 0 .2em;
}
#tone3000-wrapper .tone3000-hint {
    font-size: 13px;
    line-height: 1.5;
    color: #999;
    max-width: 34em;
    margin: 0 0 1em;
}
#tone3000-wrapper .tone3000-hint b {
    color: #ccc;
    font-weight: normal;
}
#tone3000-wrapper .tone3000-hint:last-of-type {
    margin-bottom: 1.5em;
}
