/* SKINS */
.mod-combo-model-001 {
    border-radius: 20px;
}
.mod-combo-model-001-0550 {
    background-image: url(model-0550.png);
    background-position: center center;
    background-repeat: no-repeat;
    height: 200px;
    position: relative;
    width: 550px;
}

.mod-combo-model-001-0625 {
    background-image: url(model-0625.png);
    background-position: center center;
    background-repeat: no-repeat;
    height: 200px;
    position: relative;
    width: 625px;
}

.mod-combo-model-001-0778 {
    background-image: url(model-0778.png);
    background-position: center center;
    background-repeat: no-repeat;
    height: 200px;
    position: relative;
    width: 778px;
}

.mod-combo-model-001-0930 {
    background-image: url(model-0930.png);
    background-position: center center;
    background-repeat: no-repeat;
    height: 200px;
    position: relative;
    width: 930px;
}


/* THE AUTHOR */
.mod-combo-model-001 .mod-plugin-author h1 {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    left: 80px;
    line-height: 1;
    margin: 0;
    position: absolute;
    top: 23px;
}

/* PLUGIN'S NAME */
.mod-combo-model-001 .mod-plugin-name h1 {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    position: absolute;
    right: 80px;
    top: 23px;
}

/* CONTROLS */
.mod-combo-model-001 .mod-control-group {
    border-color: #000;
    border-style: solid;
    border-width: 1px 0 0 0;
    bottom: 149px;
    color: #000;
    font-size: 10px;
    font-weight: bold;
    height: 71px;
    left: 58px;
    position: absolute;
    right: 58px;
    top: 47px;
}

.mod-combo-model-001 .mod-control-group > div {
    margin-right: 2px;
}


.mod-combo-model-001 .mod-pedal-input,
.mod-combo-model-001 .mod-pedal-output {
    top: 30px;
}

/* SWITCH ON/OFF GENERAL */
.mod-combo-model-001 .mod-switch {
    cursor: pointer;
    float: left;
    height: 71px;
    position: relative;
    width: 130px;
}

.mod-combo-model-001 .mod-switch-image {
    background-image: url(/resources/switches/switch-001.png);
    background-position: -9px 0px;
    background-repeat: no-repeat;
    background-size: auto 71px;
    height: 71px;
    width: 71px;
}

.mod-combo-model-001 .mod-switch-image.on {
    background-position: -80px 0px;
}

.mod-combo-model-001 .mod-switch-image.off {
    background-position: -9px 0px;
}

/* CHICKEN HEAD */
.mod-combo-model-001 .mod-chicken-head {
    float: left;
    height: 71px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 71px;
}

.mod-combo-model-001 .mod-chicken-head .mod-chicken-head-image {
    background-image: url(/resources/knobs/chicken-head/_strip.png);
    background-position: left 0px;
    background-repeat: no-repeat;
    background-size: auto 71px;
    height: 71px;
    margin-top: 3px;
    position: relative;
    width: 71px;
    z-index: 2;
}

.mod-combo-model-001 .mod-chicken-head .mod-chicken-head-title {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 10px;
    font-weight: bold;
    height:18px;
    left: 0;
    overflow:hidden;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 0;
    z-index: 1;
}

/* ENUMERATED LIST */
.mod-combo-model-001 .mod-enumerated {
    color:#fff;
    display:inline-block;
    left:132px;
    overflow:hidden;
    position:absolute;
    top:-27px;
    width:240px;
}

.mod-combo-model-001 .mod-enumerated .mod-enumerated-selected {
    background-color:rgba(0,0,0,.8);
    background-image:url(../../utils/dropdown-arrow-white.png);
    background-position:right center;
    background-repeat:no-repeat;
    border-radius:4px;
    box-shadow:inset 1px 1px 5px #000;
    color:#fff;
    font-size:12px;
    height:24px;
    line-height:2;
    margin-right:8px;
    overflow:hidden;
    padding:0 9px;
}

/* WHEN IS HOVER */
.mod-combo-model-001 .mod-enumerated:hover .mod-enumerated-selected {
    border-radius:4px 4px 0 0;
}

/* THE LIST OF OPTIONS */
.mod-combo-model-001 .mod-enumerated .mod-enumerated-list {
    display:none;
    font-weight:bold;
}

.mod-combo-model-001 .mod-enumerated .mod-enumerated-list > div {
    padding:3px 9px;
}

.mod-combo-model-001 .mod-enumerated .mod-enumerated-list > div:hover {
    background:rgba(255,255,255,.2);
    cursor:pointer;
}

/* WHEN THE LIST IS SHOWING */
.mod-combo-model-001 .mod-enumerated .mod-enumerated-list {
    background:rgba(0,0,0,.9);
    display:none;
    height:85px;
    overflow:auto;
    position:relative;
    width:232px;
    z-index:3;
}


/* SEPARATOR */
.mod-combo-model-001 .mod-separator {
    background: #000;
    display: inline-block;
    float: left;
    height: 69px;
    margin-top: 2px;
    width: 1px;
}
